<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Wise
    </title>
    <link rel="stylesheet" href="/public/styles/style.css">
</head>
<body>
    <nav> 
        <div class="nav-container">
            <div class="left roboto-condensed-HFont">
                <a href="#">Weather Wise
                </a>
            </div>
            <div class="tabs" id="navLinks">
                <ul class="container roboto-condensed-HFont" type="none">
                    <li><a href="#"><img src="/public/images/home-svgrepo-com.svg">Home</a></li>
                    <li><a href="#"><img src="/public/images/information-circle-solid-svgrepo-com.svg"> About</a></li>
                    <li><a href="#"><img src="/public/images/discussion-svgrepo-com.svg">Forum</a></li>
                </ul>
            </div>
            <div class="hamburger" id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>

    <div class="grid-container">
        <div class="temperature"> 35.5°C</div>
        <div class="city">Vile Parle(W), Mumbai</div>
        <div class="feels-temp"><div class="digit">37.5°C</div>  <p>Feels like</p></div>
        
        <div class="humidity"><div class="digit">71%</div>  <p>Humidity</p></div>
        <div class="wind-speed"><div class="digit">2.6 m/s </div> <p>Wind-speed</p></div>
        <div class="sunset-sunrise">
            <p><img src="/public/images/sunrise-svgrepo-com.svg"> Sunrise Time - 06:32</p> 
            <p><img src="/public/images/sunset-svgrepo-com.svg"> Sunset Time - 18:16</p>
        </div>
        
        <div class="max-temp"><div class="digit">37°C</div>  <p>Maximum Temperature today</p></div>
        
        <div class="item-precipitation">
            <p>0mm - 20%</p>
            <p>0mm - 20%</p>
            <p>0mm - 20%</p>
        </div>
    </div>

    
</body>
</html>
